# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
@EXPLICIT
https://conda.anaconda.org/conda-forge/linux-64/_libgcc_mutex-0.1-conda_forge.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/ca-certificates-2022.6.15-ha878542_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/kernel-headers_linux-64-2.6.32-he073ed8_15.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/ld_impl_linux-64-2.36.1-hea4e1c9_2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libgcc-devel_linux-64-12.1.0-h1ec3361_16.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libstdcxx-devel_linux-64-12.1.0-h1ec3361_16.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libstdcxx-ng-12.1.0-ha89aaad_16.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/ripgrep-12.1.1-0.tar.bz2
https://conda.anaconda.org/biobuilds/noarch/tzdata-2018i-0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libgomp-12.1.0-h8d9b700_16.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/sysroot_linux-64-2.12-he073ed8_15.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/_openmp_mutex-4.5-2_gnu.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/binutils_impl_linux-64-2.36.1-h193b22a_2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libgcc-ng-12.1.0-h8d9b700_16.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/bzip2-1.0.8-h7b6447c_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/c-ares-1.11.0-h470a237_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/gmp-6.2.1-h58526e2_0.tar.bz2
https://conda.anaconda.org/biobuilds/linux-64/icu-63.1-h5005445_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/lame-3.100-h7f98852_1001.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/libffi-3.3-he6710b0_2.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/liblief-0.11.5-h295c915_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libsanitizer-12.1.0-ha89aaad_16.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/libuuid-1.0.3-h7f8727e_2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libzlib-1.2.12-h166bdaf_2.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/lz4-c-1.9.3-h295c915_1.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/ncurses-6.3-h5eee18b_3.conda
https://conda.anaconda.org/conda-forge/linux-64/nettle-3.6-he412f7d_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/openh264-2.1.1-h4ff587b_0.conda
https://conda.anaconda.org/conda-forge/linux-64/openssl-1.1.1q-h166bdaf_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/patchelf-0.13-h295c915_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/x264-1!161.3030-h7f98852_1.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/xz-5.2.5-h7f8727e_1.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/yaml-0.2.5-h7b6447c_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/zlib-1.2.12-h7f8727e_2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/gcc_impl_linux-64-12.1.0-hea43390_16.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/gnutls-3.6.13-h85f3911_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libevent-2.1.10-h9b69904_4.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libpng-1.6.37-h753d276_3.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/libxml2-2.9.9-hea5a465_1.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/readline-8.1.2-h7f8727e_1.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/tk-8.6.12-h1ccaba5_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/zstd-1.4.9-haebb681_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/freetype-2.10.4-h0708190_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/gcc-12.1.0-h9ea6d83_10.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/gxx_impl_linux-64-12.1.0-hea43390_16.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/libarchive-3.4.2-h62408e4_0.conda
https://conda.anaconda.org/biobuilds/linux-64/libxslt-1.1.33-h0aadf70_1.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/sqlite-3.38.5-hc218d9a_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/tmux-3.3-h385fc29_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/ffmpeg-4.3.2-h37c90e5_3.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/gxx-12.1.0-h9ea6d83_10.tar.bz2
https://conda.anaconda.org/biobuilds/linux-64/libxslt-devel-1.1.33-1.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/python-3.10.4-h12debd9_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/chardet-4.0.0-py310h06a4308_1003.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/charset-normalizer-2.1.0-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/executing-0.8.3-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/filelock-3.6.0-pyhd3eb1b0_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/glob2-0.7-pyhd3eb1b0_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/idna-3.3-pyhd3eb1b0_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/markupsafe-2.1.1-py310h7f8727e_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/pkginfo-1.8.2-pyhd3eb1b0_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/psutil-5.8.0-py310h7f8727e_1.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/py-lief-0.11.5-py310h295c915_1.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/pycosat-0.6.3-py310h7f8727e_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/pycparser-2.21-pyhd3eb1b0_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/pysocks-1.7.1-py310h06a4308_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/python-libarchive-c-2.9-pyhd3eb1b0_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/python_abi-3.10-2_cp310.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/pytz-2022.1-py310h06a4308_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/pyyaml-6.0-py310h7f8727e_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/ruamel_yaml-0.15.100-py310h7f8727e_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/six-1.16.0-pyhd3eb1b0_1.tar.bz2
https://conda.anaconda.org/anaconda/noarch/soupsieve-2.3.1-pyhd3eb1b0_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/tqdm-4.64.0-py310h06a4308_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/wheel-0.37.1-pyhd3eb1b0_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/asttokens-2.0.5-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/beautifulsoup4-4.11.1-py310h06a4308_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/certifi-2022.6.15-py310hff52083_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/cffi-1.15.0-py310hd667e15_1.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/conda-package-handling-1.8.1-py310h7f8727e_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/jinja2-3.0.3-pyhd3eb1b0_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/brotlipy-0.7.0-py310h7f8727e_1002.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/cryptography-37.0.1-py310h9ce1e76_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/python-devtools-0.8.0-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/setuptools-61.2.0-py310h06a4308_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/pip-22.1.2-py310h06a4308_0.conda
https://conda.anaconda.org/anaconda/noarch/pyopenssl-22.0.0-pyhd3eb1b0_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/urllib3-1.26.11-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/requests-2.28.1-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/conda-4.13.0-py310h06a4308_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/conda-build-3.21.9-py310h06a4308_0.tar.bz2
